@font-face {
	font-family: 'Geonms';
	src: url('geonms-webfont.ttf') format('truetype');
}

html {
	padding: 0;
	margin: 0;
	background-color: white;
	height: 100%;
	text-shadow: 1px 1px 10px white;
}

.large{
	font-size: 7em;
	margin-bottom:1em;
}

#alert{
	background-color:#0066cc;
	font-size:1.3em;
	height:1.1em;
	display:none;
	width:100%;
	z-index:99;
	opacity:0.8;
	font-weight:bold;
	text-align: right;
	position:fixed;
}

#months, #years{
	font-size: 8em;
	font-weight: bold;
}

#display{
	font-weight:normal;
	text-align: center;
	position: absolute;
	width:100%;
	font-weight:bold;
	top:0;
}

#version{
	position:absolute;
	text-align: left;
	left:0;
	bottom:0;
}

#expand {
	position:absolute;
	left: 22px;
	top: 8px;
	width:30px;
	z-index:33;
	cursor: pointer;
}

.setHead{
	font-size:1.7em;
	float:left;
	margin:13px;
}

table#set {
	display:inline-block;
	margin-top:-10px;
}

.dropbtn {
    background-color: grey;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
		border-radius:5px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #666;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:74px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index:1;
}

.dropdown-content div {
    color: black;
    padding: 5px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {background-color: #d9d9d9}

.show {display:block;}

a,
a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	height: 1em;
	border-bottom: 2px solid black;
	cursor:pointer;
}

#lineh {
	width: 500px;
	height: 3px;
	background-color: black;
	margin: 44px 0 0 17px;
	box-shadow: 0 0 6px white;
	position: absolute;
}

#linev {
	width: 500px;
	height: 3px;
	background-color: black;
	margin: 255px 0 0 -190px;
	box-shadow: 0 0 6px white;
	-webkit-transform: rotate(90deg);
	position: absolute;
}

.title {
	width: 300px;
	height: 0px;
	border-bottom: 50px solid #f2f2f2;
	border-right: 50px solid transparent;
	opacity: .8;
	position: absolute;
}

.spacer{
	padding:8px;
}

#song {
	margin-left:66px;
	font-size: 2.5em;
	position: absolute;
	display:block;
}

#media {
	margin-top:50px;
	position: absolute;
	background-color: #f2f2f2;
	opacity: .8;
	width: 350px;
	z-index: 2;
	font-size: 1em;
	text-align:center;
	padding-bottom:15px;
	overflow-y: scroll;
}

body {
	padding: 0;
	margin: 0;
	-webkit-animation: fadein 1.7s;
	-moz-animation: fadein 1.7s;
	-ms-animation: fadein 1.7s;
	-o-animation: fadein 1.7s;
	animation: fadein 1.7s;
}

.debug{
	display:none;
}

#page {
	text-align:center;
}

#next{
	font-size:1.5em;
	z-index:2000;
}

#title {
	font-size: 5em;
}

div.wrap > p {
	padding: 0;
	margin: 0;
	text-align: center;
	display: inline-block;
	font-size: 4em;
}

#days {
	font-size: 8em;
	font-weight: bold;
}

.width {
	width: 70px;
}

#totalText{
	font-size:3em;
}

.pipe{
	font-size:3em;
}

.texts {
	font-size: 2em;
}

.wrap {
	text-align: center;
}

#error {
	display: none;
	position: absolute;
	font-size: 4em;
	text-align: center;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: .9;
}

#error span {
	margin-top: 100px;
	display: block;
	font-size: 2em;
}

#loading {
	display: block;
	position: fixed;
	font-size: 4em;
	text-align: center;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: .9;
	background-image: url("http://i.stack.imgur.com/MnyxU.gif");
	background-repeat: no-repeat;
	background-position: center;
}

#loading span {
	margin-top: 100px;
	display: block;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.bad{
	background-color:#960307;
}

.bad:hover {
	background-color:red;
}
